.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #eeeeee;
  padding: 10px 0px 10px 0px;
}

.appCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 428px;
  height: 926px;
  background-color: #FFFFFF;
}

.flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}
